body {
    font-family: arial, sans-serif;
    max-width: 200em;
    background: aliceblue;
    margin: 0%,auto;

}
h1 {
    color: #fff;
    text-decoration: underline;
    background-color: antiquewhite;
    text-blink: 10%;
}